@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --primary-color: #ff8800;
    --secondary-color: #ff84ff;
    --font-color: #d5bba9;
    --bg-color: #343034;
    --heading-color: #000000;
    --contrast-color: #4500b3;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: monospace;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1.5em;
    width: min(60vw,800px);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 2.0em;
    color: var(--primary-color);
    line-height: 1.5em;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.5em;
    color : var(--secondary-color);
}
code { 
    font-family: monospace;
    color : var(--secondary-color);
}

pre {
    max-width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: monospace;
} 

a {
    color : var(--primary-color);
    text-decoration: none; 
    font-family: monospace;
}
